details summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, sans-serif; 
    color: #333; 
}

details summary {
    background-color: #79bbf8; 
    padding: 10px; /* Добавяме padding за да подчертаем фона */
}

p {
    background-color:   #cfdbe6;
    font-size: 1em;
    padding: 20px;
    margin: 0px;
}

