h1{
    font-family: Arial, sans-serif; 
    font-size: 1.5em;
    color: #333; 
    background-color: #79bbf8; 
    padding: 10px; 
    margin-bottom: 0;
}

p {
    background-color:   #cfdbe6;
    font-size: 1.2em;
    padding: 10px 0px 10px 10px;
    margin: 0px;
}

