<div>
    <h1 (click)="toggleSection(1)">{{titleForMe}}</h1>
    <p *ngIf="p1">{{forMe}}</p>
  
    <h1 (click)="toggleSection(2)">{{titleHobby}}</h1>
    <p *ngIf="p2">{{hobby}}</p>
  
    <h1 (click)="toggleSection(3)">{{titleCreator}}</h1>
    <p *ngIf="p3">{{creator}} <a href="https://www.youtube.com/@silviemahdal3570">Линк към нейния прфил</a></p>
  
    <h1 (click)="toggleSection(4)">{{titleVideo}}</h1>
    <p *ngIf="p4">{{video}}</p>
  
    <h1 (click)="toggleSection(5)">{{titlePrice}}</h1>
    <p *ngIf="p5">{{price}}</p>
  </div>
  